#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f4f4f4;
  margin: 30px;
  padding: 150px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-form {
  background: #999;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

button {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
